.Header {
  position: fixed;
  color: white;
  height: 4vw;
  width: 100%;
  z-index: 1000;
  margin-bottom: 100px;
}
.BlackBackground {
  background-color: black;
}
.Header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 15px;
}
.Header ul li {
  margin-right: 35px;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.Header ul img {
  margin: -65px -45px;
}
.Headerlogo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .Header ul li {
    margin-top: 10px;
    font-size: 1.7rem;
    text-align: center;
  }
  .Header {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 7rem;
  }
  .SearchClick {
    position: relative;
    /* left: 10%; */
    width: 250px;
    height: 120px;
  }
  .Separation {
    display: block;
    color: whitesmoke;
    z-index: 100;
  }
  .Headerlogo {
    display: block;
    width: 110%;
  }
}
