footer {
  /* background-color: black; */
  color: grey;
  margin-bottom: -50px;
}
footer li {
  list-style: none;
  margin: 20px 5px;
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

footer ul :hover {
  text-decoration: underline;
}
footer .Icons img {
  width: 2%;
  height: 10%;
  margin: 5px 10px;
}
footer .Icons {
  margin-left: 170px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
footer button {
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  /* height: 50%; */
  height: 50px;
  cursor: pointer;
}
footer .Copyright {
  margin-left: 170px;
  margin: 30px 170px;
}

@media only screen and (max-width: 768px) {
  footer .list {
    display: flex;
    flex-direction: column;
  }
  .list ul {
    margin-top: -30px;
    margin-left: 25px;
    text-align: center;
  }

  footer {
    text-align: center;
    font-size: 1.4rem;
    align-items: center;
    background-color: rgba(30, 29, 29, 0.963);
  }
  footer .Copyright {
    margin-left: -0px;
    width: 100%;
  }
  footer .Icons {
    width: 500%;
    position: relative;
    left: -245%;
    justify-content: center;
    background-color: transparent;
  }
}
